body {
    background-color: rgb(242, 242, 233);
}

.container {
   width: auto;
    margin-left: 5em;
    
}
.description {
    margin-left: 3%;
}
h2 {
    color: red;
}
.todo {
    border: lightgray solid 1px;
}