<!-- tell index to inherit from base -->
{% extends "base.html" %}

{% block content %}
<h1>
    Hello: <em>{{user.username}}</em>
</h1>
<div class="add-todo">
    <h2>Add New To Do:</h2>
<form class="add-form" action="/tasks" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" />
    <div class="description-label">
        <label  for="description">Description:</label>
        <textarea name="description" id="description" cols="60"></textarea>
    </div>
    <div class="add-task-div"> <input class="submit-button" type="submit" value="Add Task"></div>
  </form>
</div>

<h2 class="list-title">This is your to do list:</h2>

{% for task in tasks %}
<div class="container">
 
    <div class="todo">
       <label> {{task.title}}: </label> 
       <p class="description">{{task.description}}</p>
    </div>
    <div class="wrap-buttons">
   
        {% if task.done %}
        <span>&#9989;</span>
        {%else %}

        <span>
            <form action="/tasks/{{task.id}}" method="POST">
                <input class="still-todo-button" type="submit" value="Mark as complete">
            </form>
        </span>
        {% endif %}

        <span>
            <form action="/tasks/{{task.id}}/delete" method="POST">
                <input type="hidden" value="{{task.id}}" >
                <input class="delete-button" type="submit" value="Delete">
            </form>
        </span>
    </div>
</div>
{% endfor %}




{% endblock%}