<!-- tell index to inherit from base -->
{% extends "base.html" %}

{% block content %}
<h1>
    Hello: <em>{{user.username}}</em>
</h1>
<div class="">
    <h2>Add New To Do:</h2>
<form action="/tasks" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" />
        <label for="description">Description:
        <textarea name="description" id="description" rows="3" cols="80"></textarea></label>
    <input type="submit" value="Add Task">
  </form>
</div>

<h2>This is your to do list:</h2>

{% for task in tasks %}
<div class="container">
 
    <div class="todo">
       <label> {{task.title}}: </label> 
       <p class="description">{{task.description}}</p>
    </div>
        {% if task.done %}
        <span>&#9989;</span>
        {%else %}

        <span>
            <form action="/tasks/{{task.id}}" method="POST">
                <input type="submit" value="Mark as complete">
            </form>
        </span>
        {% endif %}
        <span>
            <form action="/tasks/{{task.id}}/delete" method="POST">
                <input type="hidden" value="{{task.id}}" >
                <input type="submit" value="Delete">
            </form>
        </span>
    
</div>
{% endfor %}




{% endblock%}